.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
_hmg_resconfig.h
_temp.o
_temp.rc
b.exe
error.log
impBairros.exe
windres.log
.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
ErrorLog.Htm
.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
ErrorLog.Htm
Main.bak
.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
Main.Fmg
Main.bak
hBit2.bmp
ErrorLog.Htm
compo1.txt
hb_out.log
ErrorLog.Htm
Main.bak
.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
